#root {
  max-width: 90%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 0 0 50px 50px;
  padding: 20px 0 0 0;
  margin-bottom: 16px;
}

.logo {
  overflow: hidden;
  width: 25%;
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.samara-icon {
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/logo-background.jpg") center/cover no-repeat;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  width: 100%;
  background-color: #ffde59;
}

.parabens {
  overflow: hidden;
  width: 50%;
  margin: auto auto;
}
/* img {
} */
